<nav id="barra" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img id="logo" src="logo_v2.png" type="image/png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span
                        class="sr-only">(actual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Directorio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Calendario</a>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 formulario">
                    <input class="form-control mr-sm-2" type="search"
                        placeholder="Buscar..." aria-label="Search">
                    <button id="botonEnviar"
                        class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>
            <li id="login" class="nav-item">
                <a class="nav-link" href="#">Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>